<a href="https://colab.research.google.com/github/crakcode/CodingStudy/blob/main/Progrmmers_Sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 정렬

- 체육복 (프로그래머스)
- 가장큰수( 프로그래머스)
- 단속카메라(프로그래머스)

## K번째수

In [ ]:
def solution(array, commands):
    res=[]
    for i,j,k in commands:
        temp=[]
        temp=array[i-1:j]
        temp.sort()
        res.append(temp[k-1])
    return res

## 가장큰수

In [27]:
numbers=[3, 30, 34, 5, 9]

arr=[]
for i in numbers:
  arr.append((str(i)*4,str(i)))

arr.sort(key=lambda x:x[0][:4],reverse=True)

result=""
for k,v in arr:
  result+=v

print(int(result))

9534330

## H- index

In [30]:
from collections import deque

citations=[3, 0, 6, 1, 5]	
arr=citations
n=len(arr)

dq=deque(arr)
while dq:
  v=dq.popleft()
  cod1,cod2=0,0

  for i in range(n):
    if v>=arr[i]:
      cod1+=1
    else:
      cod2+=1
  if cod1>=v and cod2<=v:
    print(v)


#   0, 1, 3, 5 ,6 
# i 0  1  2  3  4
# len(arr)=5

3

## H -index

In [ ]:
'''

1. h편 이상의 논문을 가지고 있어야 한다.
2. 즉 arr을 sort를 하여 정렬한다.
3. 그거에 따라서 

'''

def solution(citations):
    arr=citations
    arr.sort()
    n=len(arr)
    
    for i in range(n):
        if arr[i]>=n-i:
            return n-i
    return 0

3

# 백준

## 두 용액

In [42]:

'''
1. 0에 가까운것끼리 더하거나 
2. 가장 큰거에서 작은것을 뺸다 


1. 

'''

# n=5
# arr=[-2,4,-99,-1,98]

n=int(input())
arr=list(map(int,input().split()))


arr.sort()
print(arr)

res=10000
a,b=0,0
for i in range(n//2):
  if res>=abs(arr[i]+arr[n-i-1]):
    res=abs(arr[i]+arr[n-i-1])
    a,b=arr[i],arr[n-i-1]

print(a,b)
  

10,000,000,000

-99 0 1,2

5
-2  44 -99 -1 98
[-99, -2, -1, 44, 98]
-99 98